<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Описание-данных" data-toc-modified-id="Описание-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Описание данных</a></span></li><li><span><a href="#Подключение-библиотек" data-toc-modified-id="Подключение-библиотек-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Подключение библиотек</a></span></li><li><span><a href="#Общий-обзор-данных" data-toc-modified-id="Общий-обзор-данных-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Общий обзор данных</a></span><ul class="toc-item"><li><span><a href="#Вывод" data-toc-modified-id="Вывод-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Вывод</a></span></li></ul></li><li><span><a href="#Обработка-данных" data-toc-modified-id="Обработка-данных-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Обработка данных</a></span><ul class="toc-item"><li><span><a href="#Приведение-названий-к-нижнему-регистру" data-toc-modified-id="Приведение-названий-к-нижнему-регистру-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Приведение названий к нижнему регистру</a></span></li><li><span><a href="#Заполнение-пропущенных-полей" data-toc-modified-id="Заполнение-пропущенных-полей-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Заполнение пропущенных полей</a></span><ul class="toc-item"><li><span><a href="#Поле-name" data-toc-modified-id="Поле-name-4.2.1"><span class="toc-item-num">4.2.1&nbsp;&nbsp;</span>Поле name</a></span></li><li><span><a href="#Поле-year_of_release" data-toc-modified-id="Поле-year_of_release-4.2.2"><span class="toc-item-num">4.2.2&nbsp;&nbsp;</span>Поле year_of_release</a></span></li><li><span><a href="#Поле-critic_score" data-toc-modified-id="Поле-critic_score-4.2.3"><span class="toc-item-num">4.2.3&nbsp;&nbsp;</span>Поле critic_score</a></span></li></ul></li></ul></li></ul></div>

# Описание проекта

Из открытых источников доступны исторические данные о продажах игр, оценки пользователей и экспертов, жанры и платформы (например, Xbox или PlayStation). Нужно выявить определяющие успешность игры закономерности. Это позволит сделать ставку на потенциально популярный продукт и спланировать рекламные кампании.

## Описание данных

- Name — название игры
- Platform — платформа
- Year_of_Release — год выпуска
- Genre — жанр игры
- NA_sales — продажи в Северной Америке (миллионы проданных копий)
- EU_sales — продажи в Европе (миллионы проданных копий)
- JP_sales — продажи в Японии (миллионы проданных копий)
- Other_sales — продажи в других странах (миллионы проданных копий)
- Critic_Score — оценка критиков (максимум 100)
- User_Score — оценка пользователей (максимум 10)
- Rating — рейтинг от организации ESRB (англ. Entertainment Software Rating Board). Эта ассоциация определяет рейтинг компьютерных игр и присваивает им подходящую возрастную категорию.

## Подключение библиотек

In [1]:
import pandas as pd
import numpy as np
from pymystem3 import Mystem

## Общий обзор данных

In [2]:
data = pd.read_csv('/datasets/games.csv')

In [3]:
data.head()

,Name,Platform,Year_of_Release,Genre,NA_sales,EU_sales,JP_sales,Other_sales,Critic_Score,User_Score,Rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

### Вывод

Столбцы имеющие пропущенные значения:
- Name
- Year_of_Release
- Genre
- Critic_Score
- User_Score
- Rating

Не верный тип у следующих полей:
- Year_of_Release - int или date
- User_Score - float

Название столбцов необходимо привести к нижнему регистру

##  Обработка данных

### Приведение названий к нижнему регистру

In [5]:
data = data.rename(columns={
    'Name' : 'name', 
    'Platform' : 'platform',
    'Year_of_Release' : 'year_of_release',
    'Genre' : 'genre',
    'NA_sales' : 'na_sales',
    'EU_sales' : 'eu_sales',
    'JP_sales' : 'jp_sales',
    'Other_sales' : 'other_sales',
    'Critic_Score' : 'critic_score',
    'User_Score' : 'user_score',
    'Rating' : 'rating'
})

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16713 non-null  object
 1   platform         16715 non-null  object
 2   year_of_release  16446 non-null  float64
 3   genre            16713 non-null  object
 4   na_sales         16715 non-null  float64
 5   eu_sales         16715 non-null  float64
 6   jp_sales         16715 non-null  float64
 7   other_sales      16715 non-null  float64
 8   critic_score     8137 non-null   float64
 9   user_score       10014 non-null  object
 10  rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

### Заполнение пропущенных полей

#### Поле name

In [7]:
data[data.name.isna()]

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
659,NaN,GEN,1993.0,NaN,1.78,0.53,0.00,0.08,NaN,NaN,NaN
14244,NaN,GEN,1993.0,NaN,0.00,0.00,0.03,0.00,NaN,NaN,NaN

В этих двух записях пропущено много столбцов, поэтому исключим их из рассмотрения.

In [8]:
data.drop(data[data['name'].isna()].index, inplace=True)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16713 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16713 non-null  object
 1   platform         16713 non-null  object
 2   year_of_release  16444 non-null  float64
 3   genre            16713 non-null  object
 4   na_sales         16713 non-null  float64
 5   eu_sales         16713 non-null  float64
 6   jp_sales         16713 non-null  float64
 7   other_sales      16713 non-null  float64
 8   critic_score     8137 non-null   float64
 9   user_score       10014 non-null  object
 10  rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.5+ MB

#### Поле year_of_release

In [10]:
data['year_of_release'].isna().sum()

269

In [11]:
data[data['year_of_release'].isna()].head()

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
183,Madden NFL 2004,PS2,NaN,Sports,4.26,0.26,0.01,0.71,94.0,8.5,E
377,FIFA Soccer 2004,PS2,NaN,Sports,0.59,2.36,0.04,0.51,84.0,6.4,E
456,LEGO Batman: The Videogame,Wii,NaN,Action,1.80,0.97,0.00,0.29,74.0,7.9,E10+
475,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,1.57,1.02,0.00,0.41,NaN,NaN,NaN
609,Space Invaders,2600,NaN,Shooter,2.36,0.14,0.00,0.03,NaN,NaN,NaN

In [12]:
data[data['name'] == 'Madden NFL 2004']

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
183,Madden NFL 2004,PS2,NaN,Sports,4.26,0.26,0.01,0.71,94.0,8.5,E
1881,Madden NFL 2004,XB,2003.0,Sports,1.02,0.02,0.00,0.05,92.0,8.3,E
3889,Madden NFL 2004,GC,2003.0,Sports,0.40,0.10,0.00,0.01,94.0,7.7,E
5708,Madden NFL 2004,GBA,2003.0,Sports,0.22,0.08,0.00,0.01,70.0,6.6,E

In [13]:
data[data['name'] == 'FIFA Soccer 2004']

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
377,FIFA Soccer 2004,PS2,NaN,Sports,0.59,2.36,0.04,0.51,84.0,6.4,E
2606,FIFA Soccer 2004,XB,2003.0,Sports,0.24,0.49,0.00,0.05,82.0,8.2,E
12029,FIFA Soccer 2004,GC,2003.0,Sports,0.05,0.01,0.00,0.00,83.0,6.2,E
13086,FIFA Soccer 2004,GBA,2003.0,Sports,0.04,0.01,0.00,0.00,82.0,7.9,E

Видно, что одни и те же игры выходят на разных платформах в один и тот же год

In [14]:
data['year_of_release'].fillna(
    data.groupby('name')['year_of_release'].transform('median'), 
    inplace=True
)

In [15]:
data['year_of_release'].isna().sum()

146

In [16]:
data[data['year_of_release'].isna()].head()

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
475,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,1.57,1.02,0.0,0.41,NaN,NaN,NaN
627,Rock Band,X360,NaN,Misc,1.93,0.33,0.0,0.21,92.0,8.2,T
657,Frogger's Adventures: Temple of the Frog,GBA,NaN,Adventure,2.15,0.18,0.0,0.07,73.0,tbd,E
805,Rock Band,Wii,NaN,Misc,1.33,0.56,0.0,0.20,80.0,6.3,T
1142,Rock Band,PS3,NaN,Misc,0.99,0.41,0.0,0.22,92.0,8.4,T

Видно, что некоторые игры в названиях содержат год, а судя по играм «Madden NFL 2004» и «FIFA Soccer 2004», год в названии ставятся на единицу больше года выпуска игры.

In [17]:
tmp = data[data['year_of_release'].isna()]['name'].str.extract(r'\s+(\d{4})\s*$').astype('float') - 1

In [18]:
data.loc[data['year_of_release'].isna(), 'year_of_release'] = tmp[0]

In [19]:
data[data['name'] == 'wwe Smackdown vs. Raw 2006']

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
475,wwe Smackdown vs. Raw 2006,PS2,2005.0,Fighting,1.57,1.02,0.0,0.41,NaN,NaN,NaN

In [20]:
data['year_of_release'].isna().sum()

139

По информации из <a href='https://ru.wikipedia.org/wiki/Rock_Band_(%D1%81%D0%B5%D1%80%D0%B8%D1%8F_%D0%B8%D0%B3%D1%80)'>Википедии</a> понятно, что — это не игра, а серия игр.

In [21]:
len(data[data['name'] == 'Rock Band'])

4

In [22]:
data.drop(data[data['name'] == 'Rock Band'].index, inplace=True)

In [23]:
data['year_of_release'].isna().sum()

135

In [24]:
data[(data['platform'] == '2600') & data['year_of_release'].isna()].head(16)

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
1506,Adventure,2600,NaN,Adventure,1.21,0.08,0.0,0.01,NaN,NaN,NaN
1585,Combat,2600,NaN,Action,1.17,0.07,0.0,0.01,NaN,NaN,NaN
2106,Air-Sea Battle,2600,NaN,Shooter,0.91,0.06,0.0,0.01,NaN,NaN,NaN
3883,Fishing Derby,2600,NaN,Sports,0.48,0.03,0.0,0.01,NaN,NaN,NaN
4132,Karate,2600,NaN,Fighting,0.44,0.03,0.0,0.00,NaN,NaN,NaN
4220,Circus Atari,2600,NaN,Action,0.43,0.03,0.0,0.00,NaN,NaN,NaN
4337,Maze Craze: A Game of Cops 'n Robbers,2600,NaN,Action,0.42,0.02,0.0,0.00,NaN,NaN,NaN
4437,Super Breakout,2600,NaN,Puzzle,0.41,0.03,0.0,0.00,NaN,NaN,NaN
5041,Hangman,2600,NaN,Puzzle,0.35,0.02,0.0,0.00,NaN,NaN,NaN
5642,Dragster,2600,NaN,Racing,0.30,0.02,0.0,0.00,NaN,NaN,NaN
5800,Slot Machine,2600,NaN,Action,0.29,0.02,0.0,0.00,NaN,NaN,NaN
6266,Indy 500,2600,NaN,Racing,0.26,0.01,0.0,0.00,NaN,NaN,NaN
6299,Flag Capture,2600,NaN,Action,0.25,0.02,0.0,0.00,NaN,NaN,NaN
7353,Ghostbusters II,2600,NaN,Action,0.20,0.01,0.0,0.00,NaN,NaN,NaN
7354,Breakaway IV,2600,NaN,Puzzle,0.20,0.01,0.0,0.00,NaN,NaN,NaN
8740,Home Run,2600,NaN,Sports,0.14,0.01,0.0,0.00,NaN,NaN,NaN

In [25]:
data[(data['platform'] == '2600') & data['year_of_release'].isna()]['year_of_release'].isna().sum()

16

По источникам из интернет понятно, что это старые игры, у них не заполнено много полей и, судя по доходности, они явно не являются фаворитами. Исключим их.

In [26]:
data.drop(data[(data['platform'] == '2600') & data['year_of_release'].isna()].index, inplace=True)

In [27]:
data['year_of_release'].isna().sum()

119

In [28]:
data[data['year_of_release'].isna()].head()

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
657,Frogger's Adventures: Temple of the Frog,GBA,NaN,Adventure,2.15,0.18,0.00,0.07,73.0,tbd,E
1301,Triple Play 99,PS,NaN,Sports,0.81,0.55,0.00,0.10,NaN,NaN,NaN
1984,Legacy of Kain: Soul Reaver,PS,NaN,Action,0.58,0.40,0.00,0.07,91.0,9,T
2010,Donkey Kong Land III,GB,NaN,Platform,0.68,0.31,0.00,0.04,NaN,NaN,NaN
2108,Suikoden III,PS2,NaN,Role-Playing,0.29,0.23,0.38,0.08,86.0,7.7,T

In [29]:
data[data['critic_score'].isna() & data['year_of_release'].isna() & data['user_score'].isna() & data['rating'].isna()]

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
1301,Triple Play 99,PS,NaN,Sports,0.81,0.55,0.00,0.10,NaN,NaN,NaN
2010,Donkey Kong Land III,GB,NaN,Platform,0.68,0.31,0.00,0.04,NaN,NaN,NaN
2773,WarioWare: Twisted!,GBA,NaN,Puzzle,0.16,0.06,0.50,0.02,NaN,NaN,NaN
3187,Monster Hunter 2,PS2,NaN,Role-Playing,0.00,0.00,0.63,0.00,NaN,NaN,NaN
5194,Cubix Robots for Everyone: Clash 'n' Bash,GBA,NaN,Action,0.26,0.10,0.00,0.01,NaN,NaN,NaN
5294,Dragon Ball Z: Budokai Tenkaichi 2 (JP sales),Wii,NaN,Action,0.15,0.05,0.14,0.01,NaN,NaN,NaN
6255,The Legend of Zelda: The Minish Cap(weekly JP ...,GBA,NaN,Action,0.00,0.00,0.27,0.01,NaN,NaN,NaN
6954,Jet X20,PS2,NaN,Racing,0.11,0.09,0.00,0.03,NaN,NaN,NaN
7387,Move Fitness,PS3,NaN,Sports,0.00,0.16,0.00,0.05,NaN,NaN,NaN
7391,Valkyria Chronicles III: Unrecorded Chronicles,PSP,NaN,Strategy,0.00,0.00,0.21,0.00,NaN,NaN,NaN
7605,Famista 64,N64,NaN,Sports,0.00,0.00,0.17,0.03,NaN,NaN,NaN
8364,Sword of the Samurai,PS2,NaN,Fighting,0.00,0.00,0.17,0.00,NaN,NaN,NaN
9119,Our House Party!,Wii,NaN,Simulation,0.13,0.00,0.00,0.01,NaN,NaN,NaN
9516,Nintendo Puzzle Collection,GC,NaN,Puzzle,0.00,0.00,0.13,0.00,NaN,NaN,NaN
9738,Super Robot Wars OG Saga: Masou Kishin II - Re...,PSP,NaN,Strategy,0.00,0.00,0.12,0.00,NaN,NaN,NaN
9761,Saru! Get You! Million Monkeys,PS2,NaN,Platform,0.00,0.00,0.12,0.00,NaN,NaN,NaN
10258,GiFTPiA,GC,NaN,Role-Playing,0.00,0.00,0.11,0.00,NaN,NaN,NaN
10486,Atsumare! Power Pro Kun no DS Koushien,DS,NaN,Sports,0.00,0.00,0.10,0.00,NaN,NaN,NaN
10764,Luminous Arc 2 (JP sales),DS,NaN,Role-Playing,0.00,0.00,0.10,0.00,NaN,NaN,NaN
11000,Demon Chaos,PS2,NaN,Action,0.00,0.00,0.09,0.00,NaN,NaN,NaN
11092,Action Man-Operation Extreme,PS,NaN,Action,0.05,0.03,0.00,0.01,NaN,NaN,NaN
11433,Zero: Tsukihami no Kamen,Wii,NaN,Action,0.00,0.00,0.08,0.00,NaN,NaN,NaN
11790,Mega Man Battle Network: Operation Shooting Star,DS,NaN,Role-Playing,0.00,0.00,0.07,0.00,NaN,NaN,NaN
12524,Chou Soujuu Mecha MG,DS,NaN,Simulation,0.00,0.00,0.06,0.00,NaN,NaN,NaN
12568,Prinny: Can I Really Be The Hero? (US sales),PSP,NaN,Action,0.06,0.00,0.00,0.00,NaN,NaN,NaN
12734,Mobile Ops: The One Year War,X360,NaN,Simulation,0.00,0.00,0.06,0.00,NaN,NaN,NaN
13711,B.L.U.E.: Legend of Water,PS,NaN,Adventure,0.00,0.00,0.04,0.00,NaN,NaN,NaN
14105,Half-Minute Hero 2,PSP,NaN,Role-Playing,0.00,0.00,0.04,0.00,NaN,NaN,NaN
14126,Housekeeping,DS,NaN,Action,0.00,0.00,0.04,0.00,NaN,NaN,NaN
14325,Beyond the Labyrinth,3DS,NaN,Role-Playing,0.00,0.00,0.03,0.00,NaN,NaN,NaN
14350,Bikkuriman Daijiten,DS,NaN,Misc,0.00,0.00,0.03,0.00,NaN,NaN,NaN
14449,Fullmetal Alchemist: Brotherhood,PSP,NaN,Action,0.00,0.00,0.03,0.00,NaN,NaN,NaN
14597,Samurai Spirits: Tenkaichi Kenkakuden,PS2,NaN,Fighting,0.00,0.00,0.03,0.00,NaN,NaN,NaN
14931,The King of Fighters: Maximum Impact - Maniax,XB,NaN,Fighting,0.02,0.01,0.00,0.00,NaN,NaN,NaN
14950,Combat Wings: The Great Battles of WWII,Wii,NaN,Simulation,0.02,0.00,0.00,0.00,NaN,NaN,NaN
15022,Umineko no Naku Koro ni San: Shinjitsu to Gens...,PS3,NaN,Adventure,0.00,0.00,0.02,0.00,NaN,NaN,NaN
15079,Payout Poker & Casino,PSP,NaN,Misc,0.02,0.00,0.00,0.00,NaN,NaN,NaN
15081,Wii de Asobu: Metroid Prime,Wii,NaN,Shooter,0.00,0.00,0.02,0.00,NaN,NaN,NaN
15119,Legacy of Ys: Books I & II,DS,NaN,Role-Playing,0.02,0.00,0.00,0.00,NaN,NaN,NaN
15557,Yu-Gi-Oh! 5D's Wheelie Breakers (JP sales),Wii,NaN,Racing,0.00,0.00,0.02,0.00,NaN,NaN,NaN
15704,Writing and Speaking Beautiful Japanese DS,DS,NaN,Misc,0.00,0.00,0.02,0.00,NaN,NaN,NaN
15795,Shonen Jump's Yu-Gi-Oh! GX Card Almanac,DS,NaN,Misc,0.00,0.00,0.02,0.00,NaN,NaN,NaN
15998,Jet Impulse,DS,NaN,Simulation,0.00,0.00,0.02,0.00,NaN,NaN,NaN
16348,Agarest Senki: Re-appearance,PS3,NaN,Role-Playing,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16458,Hakuouki: Shinsengumi Kitan,PS3,NaN,Adventure,0.01,0.00,0.00,0.00,NaN,NaN,NaN

Эти  игры также содержат множество незаполненных полей, их прибыль очень маленькая, многие продавались только в Китае. Исключим их.

In [30]:
data.drop(
    data[data['critic_score'].isna() & data['year_of_release'].isna() & data['user_score'].isna() & data['rating'].isna()].index,
    inplace=True
)

In [31]:
data['year_of_release'].isna().sum()

74

In [32]:
data[data['year_of_release'].isna()].head()

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
657,Frogger's Adventures: Temple of the Frog,GBA,NaN,Adventure,2.15,0.18,0.00,0.07,73.0,tbd,E
1984,Legacy of Kain: Soul Reaver,PS,NaN,Action,0.58,0.40,0.00,0.07,91.0,9,T
2108,Suikoden III,PS2,NaN,Role-Playing,0.29,0.23,0.38,0.08,86.0,7.7,T
2169,Yakuza 4,PS3,NaN,Action,0.15,0.13,0.63,0.05,78.0,8,M
2969,Test Drive Unlimited 2,X360,NaN,Racing,0.30,0.31,0.00,0.07,68.0,6.4,T

Понятно, что игры для PS выходили раньше чем для PS2 и PS3, учитывая это заполним остатки данных.

In [33]:
data['year_of_release'].fillna(
    data.groupby('platform')['year_of_release'].transform('median'), 
    inplace=True
)

In [34]:
data['year_of_release'].isna().sum()

0

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16648 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16648 non-null  object
 1   platform         16648 non-null  object
 2   year_of_release  16648 non-null  float64
 3   genre            16648 non-null  object
 4   na_sales         16648 non-null  float64
 5   eu_sales         16648 non-null  float64
 6   jp_sales         16648 non-null  float64
 7   other_sales      16648 non-null  float64
 8   critic_score     8133 non-null   float64
 9   user_score       10010 non-null  object
 10  rating           9945 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.5+ MB

#### Поле critic_score

In [36]:
def present(data_len, len_to_percent):
    return 100/ (data_len / len_to_percent)

In [37]:
len(data[data['critic_score'].isna()])

8515

In [38]:
len(data[data['user_score'].isna() & data['critic_score'].isna() & data['rating'].isna()])

6558

In [39]:
present(len(data), len(data[data['user_score'].isna() & data['critic_score'].isna() & data['rating'].isna()]))

39.39211917347429

In [40]:
data[data['user_score'].isna() & data['critic_score'].isna() & data['rating'].isna()].head()

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN
5,Tetris,GB,1989.0,Puzzle,23.20,2.26,4.22,0.58,NaN,NaN,NaN
9,Duck Hunt,NES,1984.0,Shooter,26.93,0.63,0.28,0.47,NaN,NaN,NaN
10,Nintendogs,DS,2005.0,Simulation,9.05,10.95,1.93,2.74,NaN,NaN,NaN

In [41]:
data[data['name'] == 'FIFA Soccer 2004']

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
377,FIFA Soccer 2004,PS2,2003.0,Sports,0.59,2.36,0.04,0.51,84.0,6.4,E
2606,FIFA Soccer 2004,XB,2003.0,Sports,0.24,0.49,0.00,0.05,82.0,8.2,E
12029,FIFA Soccer 2004,GC,2003.0,Sports,0.05,0.01,0.00,0.00,83.0,6.2,E
13086,FIFA Soccer 2004,GBA,2003.0,Sports,0.04,0.01,0.00,0.00,82.0,7.9,E

Видно, что у игр на разных платформах оценки критиков примерно равны, воспользуемся этим фактом

In [42]:
data['name'] = data['name'].str.lower()
data['name'] = data['name'].str.strip()

In [43]:
data['critic_score'].fillna(
    data.groupby('name')['critic_score'].transform('first'), 
    inplace=True
)

In [44]:
len(data[data['critic_score'].isna()])

7554

In [45]:
data[data['user_score'].isna() & data['critic_score'].isna() & data['rating'].isna()].head(20)

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
1,super mario bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
4,pokemon red/pokemon blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN
5,tetris,GB,1989.0,Puzzle,23.20,2.26,4.22,0.58,NaN,NaN,NaN
9,duck hunt,NES,1984.0,Shooter,26.93,0.63,0.28,0.47,NaN,NaN,NaN
10,nintendogs,DS,2005.0,Simulation,9.05,10.95,1.93,2.74,NaN,NaN,NaN
12,pokemon gold/pokemon silver,GB,1999.0,Role-Playing,9.00,6.18,7.20,0.71,NaN,NaN,NaN
18,super mario world,SNES,1990.0,Platform,12.78,3.75,3.54,0.55,NaN,NaN,NaN
20,pokemon diamond/pokemon pearl,DS,2006.0,Role-Playing,6.38,4.46,6.04,1.36,NaN,NaN,NaN
21,super mario land,GB,1989.0,Platform,10.83,2.71,4.18,0.42,NaN,NaN,NaN
22,super mario bros. 3,NES,1988.0,Platform,9.54,3.44,3.84,0.46,NaN,NaN,NaN
25,pokemon ruby/pokemon sapphire,GBA,2002.0,Role-Playing,6.06,3.90,5.38,0.50,NaN,NaN,NaN
27,pokemon black/pokemon white,DS,2010.0,Role-Playing,5.51,3.17,5.65,0.80,NaN,NaN,NaN
30,pokémon yellow: special pikachu edition,GB,1998.0,Role-Playing,5.89,5.04,3.12,0.59,NaN,NaN,NaN
31,call of duty: black ops 3,PS4,2015.0,Shooter,6.03,5.86,0.36,2.38,NaN,NaN,NaN
33,pokemon x/pokemon y,3DS,2013.0,Role-Playing,5.28,4.19,4.35,0.78,NaN,NaN,NaN
45,super mario 64,N64,1996.0,Platform,6.91,2.85,1.91,0.23,NaN,NaN,NaN
46,pokemon heartgold/pokemon soulsilver,DS,2009.0,Action,4.34,2.71,3.96,0.76,NaN,NaN,NaN
47,pokemon omega ruby/pokemon alpha sapphire,3DS,2014.0,Role-Playing,4.35,3.49,3.10,0.74,NaN,NaN,NaN
50,super mario land 2: 6 golden coins,GB,1992.0,Adventure,6.16,2.04,2.69,0.29,NaN,NaN,NaN
56,super mario all-stars,SNES,1993.0,Platform,5.99,2.15,2.12,0.29,NaN,NaN,NaN

У этих игр пропущено много полей, но видно что половина из них — это игры одной серии. Например, Super Mario Bros, Super Mario Bros, Super Mario World или серия Pokemon. Попытки провести лемматизацию не дали результата. Оставим эти записи пустыми.

In [53]:
len(data[data['user_score'].isna() & data['critic_score'].isna() & data['rating'].isna()])

6077