<h1>Cодержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Введение" data-toc-modified-id="Введение-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Введение</a></span><ul class="toc-item"><li><span><a href="#Описание-тарифов" data-toc-modified-id="Описание-тарифов-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Описание тарифов</a></span><ul class="toc-item"><li><span><a href="#Тариф-«Смарт»" data-toc-modified-id="Тариф-«Смарт»-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Тариф «Смарт»</a></span></li><li><span><a href="#Тариф-«Ультра»" data-toc-modified-id="Тариф-«Ультра»-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Тариф «Ультра»</a></span></li></ul></li><li><span><a href="#Описание-данных" data-toc-modified-id="Описание-данных-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Описание данных</a></span><ul class="toc-item"><li><span><a href="#Таблица-users-(информация-о-пользователях)" data-toc-modified-id="Таблица-users-(информация-о-пользователях)-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Таблица users (информация о пользователях)</a></span></li><li><span><a href="#Таблица-calls-(информация-о-звонках)" data-toc-modified-id="Таблица-calls-(информация-о-звонках)-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Таблица calls (информация о звонках)</a></span></li><li><span><a href="#Таблица-messages-(информация-о-сообщениях)" data-toc-modified-id="Таблица-messages-(информация-о-сообщениях)-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>Таблица messages (информация о сообщениях)</a></span></li><li><span><a href="#Таблица-internet-(информация-об-интернет-сессиях)" data-toc-modified-id="Таблица-internet-(информация-об-интернет-сессиях)-1.2.4"><span class="toc-item-num">1.2.4&nbsp;&nbsp;</span>Таблица internet (информация об интернет-сессиях)</a></span></li><li><span><a href="#Таблица-tariffs-(информация-о-тарифах)" data-toc-modified-id="Таблица-tariffs-(информация-о-тарифах)-1.2.5"><span class="toc-item-num">1.2.5&nbsp;&nbsp;</span>Таблица tariffs (информация о тарифах)</a></span></li></ul></li></ul></li><li><span><a href="#Обработка-данных" data-toc-modified-id="Обработка-данных-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Обработка данных</a></span><ul class="toc-item"><li><span><a href="#Таблица-users" data-toc-modified-id="Таблица-users-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Таблица users</a></span><ul class="toc-item"><li><span><a href="#Вывод" data-toc-modified-id="Вывод-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Вывод</a></span></li><li><span><a href="#Замена-типов-данных" data-toc-modified-id="Замена-типов-данных-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Замена типов данных</a></span></li></ul></li><li><span><a href="#Таблица-calls" data-toc-modified-id="Таблица-calls-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Таблица calls</a></span><ul class="toc-item"><li><span><a href="#Вывод" data-toc-modified-id="Вывод-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>Вывод</a></span></li></ul></li><li><span><a href="#Таблица-messages" data-toc-modified-id="Таблица-messages-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Таблица messages</a></span><ul class="toc-item"><li><span><a href="#Вывод" data-toc-modified-id="Вывод-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>Вывод</a></span></li></ul></li><li><span><a href="#Таблица-internet" data-toc-modified-id="Таблица-internet-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Таблица internet</a></span><ul class="toc-item"><li><span><a href="#Вывод" data-toc-modified-id="Вывод-2.4.1"><span class="toc-item-num">2.4.1&nbsp;&nbsp;</span>Вывод</a></span></li></ul></li><li><span><a href="#Таблица-tariffs" data-toc-modified-id="Таблица-tariffs-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Таблица tariffs</a></span></li></ul></li><li><span><a href="#Исследовательский-анализ-данных" data-toc-modified-id="Исследовательский-анализ-данных-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Исследовательский анализ данных</a></span><ul class="toc-item"><li><span><a href="#Таблица-users" data-toc-modified-id="Таблица-users-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Таблица users</a></span></li></ul></li></ul></div>

# Определение перспективного тарифа для телеком компании

Cделать предварительный анализ тарифов на небольшой выборке клиентов. В вашем распоряжении данные 500 пользователей «Мегалайна»: кто они, откуда, каким тарифом пользуются, сколько звонков и сообщений каждый отправил за 2018 год. Нужно проанализировать поведение клиентов и сделать вывод — какой тариф лучше.

## Введение

### Описание тарифов

#### Тариф «Смарт»

- Ежемесячная плата: 550 рублей
- Включено 500 минут разговора, 50 сообщений и 15 Гб интернет-трафика
- Стоимость услуг сверх тарифного пакета:
  минута разговора: 3 рубля
  сообщение: 3 рубля
- 1 Гб интернет-трафика: 200 рублей

#### Тариф «Ультра»

- Ежемесячная плата: 1950 рублей
- Включено 3000 минут разговора, 1000 сообщений и 30 Гб интернет-трафика
- Стоимость услуг сверх тарифного пакета:
  минута разговора: 1 рубль
  сообщение: 1 рубль
- 1 Гб интернет-трафика: 150 рубле

<b>Обратите внимание:</b> «Мегалайн» всегда округляет вверх значения минут и мегабайтов. Если пользователь проговорил всего 1 секунду, в тарифе засчитывается целая минута.

### Описание данных

#### Таблица users (информация о пользователях)

- user_id — уникальный идентификатор пользователя
- first_name — имя пользователя
- last_name — фамилия пользователя
- age — возраст пользователя (годы)
- reg_date — дата подключения тарифа (день, месяц, год)
- churn_date — дата прекращения пользования тарифом (если значение пропущено, то тариф ещё действовал на момент выгрузки данных)
- city — город проживания пользователя
- tariff — название тарифного плана

#### Таблица calls (информация о звонках)

- id — уникальный номер звонка
- call_date — дата звонка
- duration — длительность звонка в минутах
- user_id — идентификатор пользователя, сделавшего звонок

#### Таблица messages (информация о сообщениях)

- id — уникальный номер сообщения
- message_date — дата сообщения
- user_id — идентификатор пользователя, отправившего сообщение

#### Таблица internet (информация об интернет-сессиях)

- id — уникальный номер сессии
- mb_used — объём потраченного за сессию интернет-трафика (в мегабайтах)
- session_date — дата интернет-сессии
- user_id — идентификатор пользователя

#### Таблица tariffs (информация о тарифах)

- tariff_name — название тарифа
- rub_monthly_fee — ежемесячная абонентская плата в рублях
- minutes_included — количество минут разговора в месяц, включённых в абонентскую плату
- messages_included — количество сообщений в месяц, включённых в абонентскую плату
- mb_per_month_included — объём интернет-трафика, включённого в абонентскую плату (в мегабайтах)
- rub_per_minute — стоимость минуты разговора сверх тарифного пакета (например, если в тарифе 100 минут разговора в месяц, то со 101 минуты будет взиматься плата)
- rub_per_message — стоимость отправки сообщения сверх тарифного пакета
- rub_per_gb — стоимость дополнительного гигабайта интернет-трафика сверх тарифного пакета (1 гигабайт = 1024 мегабайта)

## Обработка данных

### Таблица users

In [23]:
import pandas as pd

In [24]:
d_users = pd.read_csv('../data/users.csv')
d_users.head()

,user_id,age,churn_date,city,first_name,last_name,reg_date,tariff
0,1000,52,NaN,Краснодар,Рафаил,Верещагин,2018-05-25,ultra
1,1001,41,NaN,Москва,Иван,Ежов,2018-11-01,smart
2,1002,59,NaN,Стерлитамак,Евгений,Абрамович,2018-06-17,smart
3,1003,23,NaN,Москва,Белла,Белякова,2018-08-17,ultra
4,1004,68,NaN,Новокузнецк,Татьяна,Авдеенко,2018-05-14,ultra

In [25]:
d_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     500 non-null    int64
 1   age         500 non-null    int64
 2   churn_date  38 non-null     object
 3   city        500 non-null    object
 4   first_name  500 non-null    object
 5   last_name   500 non-null    object
 6   reg_date    500 non-null    object
 7   tariff      500 non-null    object
dtypes: int64(2), object(6)
memory usage: 31.4+ KB

#### Вывод

Не верный тип у следующих полей
- churn_date - date
- reg_date - data

#### Замена типов данных

In [26]:
d_users[d_users['churn_date'].notna()].head()

    user_id  age  churn_date     city first_name last_name    reg_date tariff
19     1019   63  2018-10-05    Томск    Игнатий   Круглов  2018-05-16  ultra
20     1020   59  2018-12-18     Чита       Тала   Костина  2018-10-22  smart
34     1034   66  2018-11-21  Вологда  Святослав  Бондарев  2018-08-26  smart
50     1050   44  2018-10-03   Тюмень     Рузана  Аничкина  2018-06-16  ultra
51     1051   37  2018-10-14   Москва   Кристина    Сомова  2018-05-28  smart

In [27]:
d_users['churn_date'] = pd.to_datetime(d_users['churn_date'], format='%Y-%m-%d')

In [28]:
d_users['reg_date'] = pd.to_datetime(d_users['reg_date'], format='%Y-%m-%d')

In [29]:
d_users.head()

,user_id,age,churn_date,city,first_name,last_name,reg_date,tariff
0,1000,52,NaT,Краснодар,Рафаил,Верещагин,2018-05-25,ultra
1,1001,41,NaT,Москва,Иван,Ежов,2018-11-01,smart
2,1002,59,NaT,Стерлитамак,Евгений,Абрамович,2018-06-17,smart
3,1003,23,NaT,Москва,Белла,Белякова,2018-08-17,ultra
4,1004,68,NaT,Новокузнецк,Татьяна,Авдеенко,2018-05-14,ultra

In [30]:
d_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     500 non-null    int64
 1   age         500 non-null    int64
 2   churn_date  38 non-null     datetime64[ns]
 3   city        500 non-null    object
 4   first_name  500 non-null    object
 5   last_name   500 non-null    object
 6   reg_date    500 non-null    datetime64[ns]
 7   tariff      500 non-null    object
dtypes: datetime64[ns](2), int64(2), object(4)
memory usage: 31.4+ KB

### Таблица calls

In [31]:
d_calls = pd.read_csv('../data/calls.csv')
d_calls.head()

       id   call_date  duration  user_id
0  1000_0  2018-07-25      0.00     1000
1  1000_1  2018-08-17      0.00     1000
2  1000_2  2018-06-11      2.85     1000
3  1000_3  2018-09-21     13.80     1000
4  1000_4  2018-12-15      5.18     1000

In [32]:
d_calls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202607 entries, 0 to 202606
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         202607 non-null  object
 1   call_date  202607 non-null  object
 2   duration   202607 non-null  float64
 3   user_id    202607 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 6.2+ MB

#### Вывод

Не верный тип у следующих полей
- call_date - date

In [33]:
d_calls['call_date'] = pd.to_datetime(d_calls['call_date'], format='%Y-%m-%d')

In [34]:
d_calls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202607 entries, 0 to 202606
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         202607 non-null  object
 1   call_date  202607 non-null  datetime64[ns]
 2   duration   202607 non-null  float64
 3   user_id    202607 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 6.2+ MB

### Таблица messages

In [35]:
d_messages = pd.read_csv('../data/messages.csv')
d_messages.head()

       id message_date  user_id
0  1000_0   2018-06-27     1000
1  1000_1   2018-10-08     1000
2  1000_2   2018-08-04     1000
3  1000_3   2018-06-16     1000
4  1000_4   2018-12-05     1000

In [36]:
d_messages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123036 entries, 0 to 123035
Data columns (total 3 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            123036 non-null  object
 1   message_date  123036 non-null  object
 2   user_id       123036 non-null  int64
dtypes: int64(1), object(2)
memory usage: 2.8+ MB

#### Вывод

Не верный тип у следующих полей
- message_date - date

In [37]:
d_messages['message_date'] = pd.to_datetime(d_messages['message_date'], format='%Y-%m-%d')

In [38]:
d_messages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123036 entries, 0 to 123035
Data columns (total 3 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            123036 non-null  object
 1   message_date  123036 non-null  datetime64[ns]
 2   user_id       123036 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 2.8+ MB

### Таблица internet

In [39]:
d_internet = pd.read_csv('../data/internet.csv')
d_internet.head()

   Unnamed: 0      id  mb_used session_date  user_id
0           0  1000_0   112.95   2018-11-25     1000
1           1  1000_1  1052.81   2018-09-07     1000
2           2  1000_2  1197.26   2018-06-25     1000
3           3  1000_3   550.27   2018-08-22     1000
4           4  1000_4   302.56   2018-09-24     1000

In [40]:
d_internet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149396 entries, 0 to 149395
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    149396 non-null  int64
 1   id            149396 non-null  object
 2   mb_used       149396 non-null  float64
 3   session_date  149396 non-null  object
 4   user_id       149396 non-null  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 5.7+ MB

#### Вывод

Не верный тип у следующих полей
- session_date - date

In [41]:
d_internet['session_date'] = pd.to_datetime(d_internet['session_date'], format='%Y-%m-%d')

In [42]:
d_internet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149396 entries, 0 to 149395
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    149396 non-null  int64
 1   id            149396 non-null  object
 2   mb_used       149396 non-null  float64
 3   session_date  149396 non-null  datetime64[ns]
 4   user_id       149396 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 5.7+ MB

### Таблица tariffs

In [43]:
d_tariffs = pd.read_csv('../data/tariffs.csv')
d_tariffs.head()

,messages_included,mb_per_month_included,minutes_included,rub_monthly_fee,rub_per_gb,rub_per_message,rub_per_minute,tariff_name
0,50,15360,500,550,200,3,3,smart
1,1000,30720,3000,1950,150,1,1,ultra

## Исследовательский анализ данных

### Таблица users

In [44]:
d_messages = pd.read_csv('../data/messages.csv')
d_messages.head()

       id message_date  user_id
0  1000_0   2018-06-27     1000
1  1000_1   2018-10-08     1000
2  1000_2   2018-08-04     1000
3  1000_3   2018-06-16     1000
4  1000_4   2018-12-05     1000